.section{
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.text{
  width: 80vw;
}
p{
  color: #E5E5E5;
}
.block-image{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  gap: 5.2%;
  
  .item{
      width: 320px;
      height: 340px;
      margin-top: 5%;
      display: flex;
      align-items: flex-end;
  }
}
.dev-info{
  width: 100%;
  backdrop-filter: blur(25px);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
    h4{
      margin-top: 10px;
      margin-left: 30px;
      margin-bottom: 0px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }
    .info{
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 50px;

      .ico{
        display: flex;
      }
        p{
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          margin-left: 5px;
        }
    }
}
.btn-1{
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

    button{
      background: #3775ED;
      border-radius: 5px;
      width: 204px;
      height: 50px;
      color: #fff;
      cursor: pointer;
    }
}
@for $i from 1 through 6 {
  .item-#{$i} {
    background-image: url("../img/picture/#{$i}.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}